<div data-role="view" data-layout="AnalysisPageLayout" data-title="Analysis List" data-show="AnalysisDataShow"
    data-after-show="AnalysisDataAfterShow" id="AnaylistPage" data-use-native-scrolling="true">
    <div class="mainBody" id="MessageOfAnalysis"></div>
    <ul data-role="listview" id="AnalysisListview" data-template="ListViewForAnalysisTemplate" data-style="inset">
    </ul>
</div>

<div data-id="AnalysisPageLayout" data-role="layout">
    <header data-role="header">
        <div data-role="navbar" class="km-accent">
            <button style="float:left;margin-top:2%;border-style:none;" onclick="window.history.back();"
                class="AnalysisListMDLClass mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">keyboard_backspace</i>
            </button>
            <span onclick="app.navigate('view/OfflineData.html');" class="OfflineDataItemCount badge badge-notify"
                style="border-radius:0 !important;top:0 !important;left:0 !important;float:right;"></span>

            <button style="float:right;margin-top:2%;border-style:none;" onclick="NavigateToAnalysisCreatePage();"
                class="AnalysisListMDLClass headerIconStyleForAll mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">add</i>
            </button>
            <button onclick="app.navigate('view/HomePage.html');" style="border-style:none;float:right;margin-top:2%;"
                class="AnalysisListMDLClass headerIconStyleForAll mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons" style="color:white;">home</i>
            </button>
            <span data-role="view-title"></span>
        </div>
    </header>
</div>
<script>
    var AnalysisListviewData = [];
    var FromCreateAnaylsisPage = true;

    function AnalysisDataShow(e) {
        CountNumberOfOflineItem();
        try {
            FromCreateAnaylsisPage = false;
        } catch (err) {
        }
        try {
            AnalysisListviewData = [];
            console.log(e.view.params.InspectionData);
            console.log(e.view.params.InspectionItemData);
            console.log('Inspection Page Detaildata', InspectionPageDetailData);
            console.log('Inspection Item Detail', InspectionItemDetail);
            console.log('AnalysisData', AnalysisData);
            for (var i = 0; i < AnalysisData.length; i++) {
                if (AnalysisData[i]['STKR__Inspection__c'] === InspectionPageDetailData['Id']) {
                    AnalysisListviewData.push(AnalysisData[i]);
                    console.log('Analysis in this inspection', AnalysisData[i]);
                }
            }
            $("#AnalysisListview").data("kendoMobileListView").replace(AnalysisListviewData);
            if (AnalysisListviewData.length === 0) {
                $('#MessageOfAnalysis').show();
            } else {
                $('#MessageOfAnalysis').hide();
            }
        } catch (err) {
            console.error('1. Analysis ' + err);
        }
    }
    function AnalysisDataAfterShow() {
        if (!AnalysisListviewData.length) {
            var AnalysisPlaceholder = $('<p>').text("No Analysis added to visit. Please use the + icon to add an entry.")
            AnalysisPlaceholder.css('color', 'grey');
            AnalysisPlaceholder.css('position', 'absolute');
            AnalysisPlaceholder.css('top', '50%');
            $('#MessageOfAnalysis').html(AnalysisPlaceholder);
        }
        if (device.platform == "Android") {
            componentHandler.upgradeElements(document.getElementsByClassName('AnalysisListMDLClass'));
        }
    }

    function NavigateToAnalysisCreatePage() {

        if (AnalysisRecordTypeHardcoded) {
            console.log('Metadata Analysis', AnalysisMetadata);
            app.navigate('view/CreateAnalysisLayout.html?AnalysisRecordId=' + AnalysisRecordTypeHardcoded);
        } else {
            //app.navigate('view/CreateAnalysis.html#CreateAnalysislistPage');
            app.navigate('view/CreateAnalysis.html');
        }
    }

</script>

<script type="text/x-kendo-template" id="ListViewForAnalysisTemplate">
    <a href="view/AnalysisDetailPage.html?RecordTypeId=${RecordTypeId}&AnalysisId=${Id}">

        #for (var i = 0;i < AnalysisRecordTypeDetail.length;i++) {
            if (AnalysisRecordTypeDetail[i]['AnalysisRecordTypeId']===RecordTypeId) {
                console.log('AnalysisRecordTypeDetail', AnalysisRecordTypeDetail[i]);
                var AnalysisListviewLayoutdata = AnalysisRecordTypeDetail[i];
        
                for (var x = 0;x < AnalysisListviewLayoutdata['editLayoutSections'].length;x++) {
                    var layoutRows = AnalysisListviewLayoutdata['editLayoutSections'][x]['layoutRows'];
                    var layoutHeader = AnalysisListviewLayoutdata['editLayoutSections'][x]['heading'];
        
                    for (var j = 0;j < layoutRows.length;j++) { 
                        var layoutItems = layoutRows[j]['layoutItems'];
                        for (var y = 0;y < layoutItems.length;y++) {
                            if (layoutItems[y]['editableForUpdate']) {
                                var layoutComponents = layoutItems[y]['layoutComponents'][0];
                                try {
                                    var label = layoutComponents['details']['label'];
                                    var htmlid = layoutComponents['details']['name'];
                                    var dataType = layoutComponents['details']['type'];
                                    var nillable = layoutComponents['details']['nillable'];
                                    var htmlrequired = nillable?false:true;
                                    console.log(dataType);
                                    if (dataType!=='reference') {
                                        #
                                        <label style="font-weight:bold;">#:label#</label>:
        
                                        #try {#
                                            <label>#:data[htmlid]#</label><br/>
                                            #
                                        }catch (err) {
                                            console.error('2. Analysis' + err);
                                        }#
                                    #}
                                }catch (e) {
                                }
                            }
                        }
                    }
                }
            }
        }#
    </a>
</script>