<div data-role="view" data-title="Create Analysis" data-show="CreateAnalysisLayoutDataShow"
    data-after-show="CreateAnalysisLayoutDataAfterShow" id="CreateAnalysisLayoutPage" data-use-native-scrolling="true">
    <header data-role="header">
        <div data-role="navbar" class="km-accent">
            <button style="float:left;margin-top:2%;border-style:none;" onclick="window.history.back()"
                class="AnalysisDetailPageMDLName mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">keyboard_backspace</i>
            </button>
            <span data-role="view-title"></span>
            <span onclick="app.navigate('view/OfflineData.html');" class="OfflineDataItemCount badge badge-notify"
                style="border-radius:0 !important;top:0 !important;left:0 !important;float:right;"></span>
            <button onclick="app.navigate('view/HomePage.html');" style="border-style:none;float:right;margin-top:2%;"
                class="ActionPageMDL headerIconStyleForAll mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons" style="color:white;">home</i>
            </button>
        </div>
    </header>
    <div id="CreateAnalysisLayout">
    </div>
    <center>
        <!--button data-role="button" data-click="CreateAnalysis">Create</button-->
        <button id="CreateAnalysisLayoutMDLButton"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
            onClick="CreateAnalysis()" style="font-weight:bold;">
            CREATE
        </button>
    </center>
</div>
<style>
    #CreateAnalysisLayoutPage .km-content {
        background: #E6E6E6;
    }

    .AnalysisDetailPageMDLName textarea {
        width: 95%;
        border: none;
    }

    .AnalysisDetailPageMDLName input[type="text"] {
        border: none;
        width: 95%;
    }
</style>
<script>
    var AnalysisRecordid = '';

    function CreateAnalysisLayoutDataShow(e) {
        CountNumberOfOflineItem();

        try { e.view.scroller.reset(); } catch (err) { }

        console.log('On Create Analysis Layout Page');
        AnalysisRecordid = '';
        try {
            AnalysisRecordid = e.view.params.AnalysisRecordId;
        } catch (err) {
            StoreError(err)
            console.log('1:' + err);
        }
        if (AnalysisRecordid) {
            app.db.transaction(function (tx) {
                tx.executeSql("Select * from AnalysisRecordType where recordid=?", [AnalysisRecordid],
                    function (tx, rs) {
                        if (rs.rows.length) {
                            var Layoutdata = JSON.parse(rs.rows.item(0)['jsondata']);
                            console.log('Analysis Record Type Layout', Layoutdata);
                            AnalysisLayoutGenerator(Layoutdata);
                        } else {
                            app.toastMessage('This record type is not found, Please refresh data', 'long');
                        }
                    }, function (tx, error) {
                        StoreError(error);
                        console.error(error.message)
                    });
            });
        }
    }

    var AnalysisLayoutPageHTML = '';

    function AnalysisLayoutGenerator(Layoutdata) {
        var AnalysisLayoutPageHTML = '';
        //x=1 to exclude information section; and loop to InspectionPageDetailData['editLayoutSections'].length-1 to exclude system information
        for (var x = 0; x < Layoutdata['editLayoutSections'].length; x++) {
            var layoutRows = Layoutdata['editLayoutSections'][x]['layoutRows'];
            var layoutHeader = Layoutdata['editLayoutSections'][x]['heading'];
            if (layoutHeader !== "System Information") {
                AnalysisLayoutPageHTML += '<div class="mdl-shadow--2dp" style="margin:5%;padding:3%;background-color:#fff;">';
                AnalysisLayoutPageHTML += '<center><h4>' + layoutHeader + '</h4></center>';
                for (var j = 0; j < layoutRows.length; j++) {
                    var layoutItems = layoutRows[j]['layoutItems'];
                    for (var y = 0; y < layoutItems.length; y++) {
                        if (layoutItems[y]['editableForUpdate']) {
                            var layoutComponents = layoutItems[y]['layoutComponents'][0];
                            try {
                                var label = layoutComponents['details']['label'];
                                var htmlid = layoutComponents['details']['name'];
                                var dataType = layoutComponents['details']['type'];
                                var nillable = layoutComponents['details']['nillable'];
                                var precision = layoutComponents['details']['precision'];
                                var scale = layoutComponents['details']['scale'];
                                var max = Math.pow(10, (precision - scale)) - 1;
                                var step = Math.pow(10, -1 * scale);
                                var maxlength = layoutComponents['details']['length'];
                                var htmlrequired = nillable ? '' : 'required';
                                var newhtmlrequired = layoutItems[y]['required'] ? 'required' : '';
                                if (dataType === 'string') {
                                    //AnalysisLayoutPageHTML+='<br/><input type="text" name="AnalysisLayoutName" id="' + htmlid + '"/>';
                                    AnalysisLayoutPageHTML += '<div class="AnalysisDetailPageMDLName mdl-textfield mdl-js-textfield mdl-textfield--floating-label">';
                                    AnalysisLayoutPageHTML += '<input type="text" name="AnalysisLayoutName" class="AnalysisDetailPageMDLName mdl-textfield__input" id="' + htmlid + '" maxlength="' + maxlength + '" ' + newhtmlrequired + '>';
                                    AnalysisLayoutPageHTML += '<label class="AnalysisDetailPageMDLName mdl-textfield__label" for="' + htmlid + '"">' + label + '</label>';
                                    AnalysisLayoutPageHTML += '</div><br>';
                                } else if (dataType === 'reference') {
                                } else if (dataType === 'double') {
                                    //AnalysisLayoutPageHTML+='<br/><input type="number" name="AnalysisLayoutName" id="' + htmlid + '"/>';
                                    AnalysisLayoutPageHTML += '<div class="AnalysisDetailPageMDLName mdl-textfield mdl-js-textfield mdl-textfield--floating-label">';
                                    AnalysisLayoutPageHTML += '<input type="number" name="AnalysisLayoutName" max="' + max + '" step="' + step + '" class="AnalysisDetailPageMDLName mdl-textfield__input" pattern="-?[0-9]*(\.[0-9]+)?" id="' + htmlid + '"' + newhtmlrequired + '>';
                                    AnalysisLayoutPageHTML += '<label class="AnalysisDetailPageMDLName mdl-textfield__label" for="' + htmlid + '"">' + label + '</label>';
                                    AnalysisLayoutPageHTML += '</div><br>';
                                } else if (dataType === 'picklist') {
                                    if (newhtmlrequired === 'required')
                                        AnalysisLayoutPageHTML += '<label style="color:rgb(215,0,0);font-size: 16px;" for="' + htmlid + '">' + label + '</label><br/>';
                                    else
                                        AnalysisLayoutPageHTML += '<label style="color:rgb(0,188,212);font-size: 16px;" for="' + htmlid + '">' + label + '</label><br/>';
                                    AnalysisLayoutPageHTML += '<div class="AnalysisDetailPageMDLName mdl-textfield mdl-js-textfield mdl-textfield--floating-label">';
                                    AnalysisLayoutPageHTML += '<select name="AnalysisLayoutName" id="' + htmlid + '" class="AnalysisDetailPage2MDLName mdl-textfield__input"' + newhtmlrequired + '>';
                                    // Start 
                                    AnalysisLayoutPageHTML += '<option value="" selected>--None--</option>';
                                    for (var optionvalues = 0; optionvalues < layoutComponents['details']['picklistValues'].length; optionvalues++) {
                                        if (layoutComponents['details']['picklistValues'][optionvalues]['defaultValue']) {
                                            AnalysisLayoutPageHTML += '<option value="' + layoutComponents['details']['picklistValues'][optionvalues]['value'] + '" selected>' + layoutComponents['details']['picklistValues'][optionvalues]['value'] + '</option>';

                                        } else {
                                            AnalysisLayoutPageHTML += '<option value="' + layoutComponents['details']['picklistValues'][optionvalues]['value'] + '">' + layoutComponents['details']['picklistValues'][optionvalues]['value'] + '</option>';
                                        }
                                    }
                                    // End
                                    AnalysisLayoutPageHTML += '</select>';
                                    AnalysisLayoutPageHTML += '</div><br>';
                                } else if (dataType === 'date') {
                                    AnalysisLayoutPageHTML += '<div class="AnalysisDetailPageMDLName mdl-textfield mdl-js-textfield">';
                                    AnalysisLayoutPageHTML += '<br/><br/><label class="km-label-above' + htmlrequired + '">' + label;
                                    AnalysisLayoutPageHTML += '<br/><input type="date" name="AnalysisLayoutName" id="' + htmlid + '"' + newhtmlrequired + '/>';
                                    AnalysisLayoutPageHTML += '</label>';
                                    AnalysisLayoutPageHTML += '</div><br>';
                                } else if (dataType === 'textarea') {
                                    //AnalysisLayoutPageHTML+='<br/><textarea name="AnalysisLayoutName" id="' + htmlid + '" width="100%" height="20px"></textarea>';
                                    AnalysisLayoutPageHTML += '<div class="AnalysisDetailPageMDLName mdl-textfield mdl-js-textfield">';
                                    AnalysisLayoutPageHTML += '<textarea name="AnalysisLayoutName" id="' + htmlid + '" class="AnalysisDetailPageMDLName mdl-textfield__input" type="text" rows="5" maxlength="' + maxlength + '" ' + newhtmlrequired + '></textarea>';
                                    AnalysisLayoutPageHTML += '<label class="AnalysisDetailPageMDLName mdl-textfield__label" for="' + htmlid + '">' + label + '</label>';
                                    AnalysisLayoutPageHTML += '</div><br>';
                                } else if (dataType === 'datetime') {
                                    AnalysisLayoutPageHTML += '<div class="AnalysisDetailPageMDLName mdl-textfield mdl-js-textfield">';

                                    AnalysisLayoutPageHTML += '<br/><br/><label class="km-label-above' + htmlrequired + '">' + label;
                                    AnalysisLayoutPageHTML += '<br/><input type="date" name="AnalysisLayoutName" id="' + htmlid + '"' + newhtmlrequired + '/>';
                                    AnalysisLayoutPageHTML += '</label>';
                                    AnalysisLayoutPageHTML += '</div><br>';
                                } else if (dataType === 'boolean') {
                                    //AnalysisLayoutPageHTML+='<br/><input type="checkbox" name="AnalysisLayoutName" id="' + htmlid + '"/>';   
                                    AnalysisLayoutPageHTML += '<label class="AnalysisDetailPageMDLName mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="' + htmlid + '">'
                                    AnalysisLayoutPageHTML += '<input name="AnalysisLayoutName" type="checkbox" id="' + htmlid + '" class="InspectionDetailPageMDLName mdl-checkbox__input"' + newhtmlrequired + '>'
                                    AnalysisLayoutPageHTML += '<span class="AnalysisDetailPageMDLName mdl-checkbox__label">' + label + '</span>';
                                    AnalysisLayoutPageHTML += '</label><br>';
                                } else if (dataType === 'multipicklist') {
                                    if (newhtmlrequired === 'required')
                                        AnalysisLayoutPageHTML += '<label style="color:rgb(215,0,0);font-size: 16px;" for="' + htmlid + '">' + label + '</label><br/>';
                                    else
                                        AnalysisLayoutPageHTML += '<label style="color:rgb(0,188,212);font-size: 16px;" for="' + htmlid + '">' + label + '</label><br/>';
                                    AnalysisLayoutPageHTML += '<div class="AnalysisDetailPageMDLName mdl-textfield mdl-js-textfield mdl-textfield--floating-label">';
                                    AnalysisLayoutPageHTML += '<select class="AnalysisDetailPageMDLName mdl-textfield__input" name="AnalysisLayoutName" id="' + htmlid + '" multiple' + newhtmlrequired + '>';
                                    for (var optionvalues = 0; optionvalues < layoutComponents['details']['picklistValues'].length; optionvalues++) {
                                        AnalysisLayoutPageHTML += '<option value="' + layoutComponents['details']['picklistValues'][optionvalues]['value'] + '">' + layoutComponents['details']['picklistValues'][optionvalues]['value'] + '</option>';
                                    }
                                    AnalysisLayoutPageHTML += '</select>';
                                    AnalysisLayoutPageHTML += '</div><br>';
                                }else if (dataType === 'currency'){
                                    AnalysisLayoutPageHTML += '<div class="AnalysisDetailPageMDLName mdl-textfield mdl-js-textfield mdl-textfield--floating-label">';
                                    AnalysisLayoutPageHTML += '<input type="number" name="AnalysisLayoutName" class="AnalysisDetailPageMDLName mdl-textfield__input" id="' + htmlid + '" maxlength="' + maxlength + '" ' + newhtmlrequired + '>';
                                    AnalysisLayoutPageHTML += '<label class="AnalysisDetailPageMDLName mdl-textfield__label" for="' + htmlid + '"">' + label + '</label>';
                                    AnalysisLayoutPageHTML += '</div><br>';
                                } else {
                                    console.log('In else', dataType);
                                }
                            } catch (e) {
                            }
                        }
                        else{
                           // console.log('layoutitems1234',layoutItems[y])
                            var layoutComponents = layoutItems[y]['layoutComponents'][0];
                                console.log('layoutcomponentsabc',layoutComponents); 
                                
                                try{
                                    if(layoutComponents){
                                    var spaceType = layoutComponents.type;
                                    if (spaceType === 'EmptySpace') {
                                        AnalysisLayoutPageHTML +='<br>';
                                    }
                                    else {
                                        console.log('In else', dataType);
                                    }
                                }
                                }catch(e){
                                    console.log(e)
                                }
                        }
                    }
                }
                AnalysisLayoutPageHTML += '</div>';
            }
        }
        $('#CreateAnalysisLayout').html(AnalysisLayoutPageHTML);
        if (device.platform == "Android") {
            componentHandler.upgradeElements(document.getElementsByClassName('AnalysisDetailPageMDLName'));
        }

        componentHandler.upgradeElements(document.getElementsByClassName('mdl-textfield'));
        componentHandler.upgradeElements(document.getElementsByClassName('mdl-textfield__input'));
        componentHandler.upgradeElements(document.getElementsByClassName('mdl-textfield__label'));
        //SetValues();
    }

    function CreateAnalysis() {
        app.pane.loader.show();
        var AnalysisLayoutHTMLComponents = $("[name='AnalysisLayoutName']");
        console.log(AnalysisLayoutHTMLComponents);
        var datatoupload = {};
        for (var i = 0; i < AnalysisLayoutHTMLComponents.length; i++) {
            var values = '';
            if (AnalysisLayoutHTMLComponents[i]['tagName'] === 'SELECT') {
                var selectedOptions = $('#' + AnalysisLayoutHTMLComponents[i]['id'])[0]['selectedOptions'];
                for (var j = 0; j < selectedOptions.length; j++) {
                    console.log(selectedOptions[j].value);
                    values += selectedOptions[j].value + ';';
                }
                values = values.substring(0, values.length - 1);
            } else if (AnalysisLayoutHTMLComponents[i]['type'] === "checkbox") {
                values = $('#' + AnalysisLayoutHTMLComponents[i]['id'] + '[name="AnalysisLayoutName"]').prop('checked');
            } else if (AnalysisLayoutHTMLComponents[i]['type'] === "date") {
                values = $('#' + AnalysisLayoutHTMLComponents[i]['id']).val();
                if (!values) {
                    values = null;
                }
            } else {
                values = $('#' + AnalysisLayoutHTMLComponents[i]['id'] + '[name="AnalysisLayoutName"]').val()
            }
            datatoupload[AnalysisLayoutHTMLComponents[i]['id']] = values;
            if (AnalysisLayoutHTMLComponents[i]['required'] && !values) {
                app.toastMessage('Please fill all required fields', 'long');
                app.pane.loader.hide();
                return;
            }
        }
        datatoupload['STKR__Inspection__c'] = InspectionPageDetailData['Id'];
        datatoupload['RecordTypeId'] = AnalysisRecordid;
        console.log('Data to upload', datatoupload);

        var timestamp = (new Date().getTime()).toString();
        if (InspectionPageDetailData['Id'].length < 18) {
            datatoupload['STKR__Mobile_Unique_Id2__c'] = InspectionPageDetailData['STKR__UniqueId__c'] + ';AnalysisMobile;' + timestamp;
        } else {
            datatoupload['STKR__Mobile_Unique_Id2__c'] = null;
        }
        datatoupload['STKR__Visit__c'] = newDetailValue[0]["Id"];
        // Check whether device is online or not
        if (AppIsOnline && !isCurrentVisitInProgress) {
            //Device is online
            jsconn.sobject("STKR__Chlorination_Results__c").create(datatoupload, function (err, ret) {
                if (err || !ret.success) {
                    app.pane.loader.hide();
                    app.toastMessage('Error occured, Please check Error log page', 'long');
                    StoreError(err);
                    return console.error(err, ret);
                }
                console.log('Updated Successfully : ' + ret.id);
                datatoupload['Id'] = ret.id;
                console.log('datatoupload after creating on salesforce', datatoupload);
                AnalysisData.push(datatoupload);
                app.insertRecord('Analysis', {
                    JsonData: JSON.stringify(datatoupload),
                    Updated: 'false',
                    UserId: creds.UserID,
                    AnalysisID: datatoupload['Id']
                });
                app.toastMessage('New Analysis created', 'long');
                app.pane.loader.hide();
                // Ask Ian about the conditions
                if (true) {
                    var temp = {};
                    temp['view'] = {};
                    temp.view['params'] = {}
                    temp.view.params['AnalysisRecordId'] = AnalysisRecordid;
                    CreateAnalysisLayoutDataShow(temp)
                } else {
                    window.history.back();
                }

            });
        } else {
            // Device is offline
            // Store in DataToUpdate table
            datatoupload['Id'] = timestamp;
            var data = {};
            data = {
                JsonData: JSON.stringify(datatoupload),
                ObjectName: 'STKR__Chlorination_Results__c',
                Updated: 'newRecord',
                UpdateOrInsert: 'insert',
                UserId: creds.UserID,
                RecordId: timestamp /* For Insertion */
            }

            AnalysisData.push(datatoupload);
            app.insertRecord('DataToUpdate', data);
            app.toastMessage('New Analysis stored offline', 'long');
            app.pane.loader.hide();
            if (true) {
                var temp = {};
                temp['view'] = {};
                temp.view['params'] = {}
                temp.view.params['AnalysisRecordId'] = AnalysisRecordid;
                CreateAnalysisLayoutDataShow(temp)
            } else {
                window.history.back();
                window.history.back();
            }
        }
    }
    function CreateAnalysisLayoutDataAfterShow() {
        if (device.platform == "Android")
            componentHandler.upgradeElements(document.getElementById('CreateAnalysisLayoutMDLButton'));
    }
</script>