<div data-role="view" data-show="DataShowInspectionItemDetailPage" id="InspectionItemDetailPage"
    data-use-native-scrolling="true">
    <header data-role="header">
        <div data-role="navbar" class="km-accent" id="InspectionItemDetailPageNavbar">
            <button style="float:left;margin-top:2%;border-style:none;" onclick="UpdateDynamicInspectionItem()"
                class="InspectionItemDetailPageMDLName mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">keyboard_backspace</i>
            </button>
            <b><span id="InspectionItemNumberDetail" style="float:left;"></span></b>
            <i class="fa fa-area-chart headerIconStyleForAll" onClick="NavigateToAnalysis_InspectionItem();"
                style="border-style:none;color:white;padding:5px;"></i>

                <i class="fa fa-calculator headerIconStyleForAll" onClick="NavigateToParameter_InspectionItem();"
                style="border-style:none;color:white;padding:5px;"></i>


                <span onclick="app.navigate('view/OfflineData.html');" class="OfflineDataItemCount badge badge-notify"
                style="border-radius:0 !important;top:0 !important;left:0 !important;float:right;"></span>
        </div>
    </header>
    <div id="InspectionItemDetailPageLayout">
    </div>
    <center>
        <button
            class="InspectionItemPageMDL mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
            onClick="UpdateDynamicInspectionItem()" style="font-weight:bold;">
            Update
        </button>
    </center><br />
</div>
<style>
    #InspectionItemDetailPage .km-content {
        background: #E6E6E6;
    }

    .InspectionItemDetailPageMDLName textarea {
        width: 99%;
        border: none;
    }

    .InspectionItemDetailPageMDLName input[type="text"] {
        border: none;
        width: 99%;
    }
</style>
<script>
    var InspectionItemDetailPage_Id = '';
    var InspectionItemDetailPage_RecordTypeId = '';
    var InspectionItemDetailPage_DataIndex = 0;
    var InspectionItemDetailPage_InspectionItemData = {};
    var InspectionItemDetailPage_PageLayout;
    var InspectionItemDetailPage_Name = '';

    function DataShowInspectionItemDetailPage(e) {

        CountNumberOfOflineItem();
        e.view.scroller.reset();
        InspectionItemDetailPage_Id = '';
        InspectionItemDetailPage_RecordTypeId = '';
        InspectionItemDetailPage_Name = '';
        InspectionItemDetailPage_DataIndex = 0;
        InspectionItemDetailPage_InspectionItemData = {};
        try {
            InspectionItemDetailPage_Id = e.view.params.InspectionItemDetail_Id;
            console.log(InspectionItemDetailPage_Id);
        } catch (err) {
            StoreError(err);
            console.log(err);
        }
        for (var i = 0; i < InspectionItemData.length; i++) {
            if (InspectionItemData[i]['Id'] === InspectionItemDetailPage_Id) {
                console.log('Matched Inspection Item Data', InspectionItemData[i]);
                InspectionItemDetailPage_InspectionItemData = InspectionItemData[i];
                InspectionItemDetailPage_RecordTypeId = InspectionItemData[i]['RecordTypeId'];
                InspectionItemDetailPage_Name = InspectionItemData[i]['Name'];
                InspectionItemDetailPage_DataIndex = i;
                break;
            }
        }
        $('#InspectionItemNumberDetail').text('Inspection Item : ' + InspectionItemDetailPage_Name);
        if (InspectionItemDetailPage_RecordTypeId) {
            app.db.transaction(function (tx) {
                tx.executeSql("Select * from InspectionItemRecordType where recordid=?", [InspectionItemDetailPage_RecordTypeId],
                    function (tx, rs) {
                        if (rs.rows.length) {
                            var Layoutdata = JSON.parse(rs.rows.item(0)['jsondata']);
                            console.log('Inspection Item Record Type Layout', Layoutdata);
                            InspectionItemDetailPage_PageLayout = Layoutdata;
                            InspectionItemHTML = InspectionItemDetailLayoutGenerator(Layoutdata);
                            $('#InspectionItemDetailPageLayout').html(InspectionItemHTML);
                            SetInspectionItemDetailPageValues();
                            if (device.platform == "Android") {
                                componentHandler.upgradeElements(document.getElementsByClassName('InspectionItemDetailPageMDLName'));
                              
                            }
                            componentHandler.upgradeElements(document.getElementsByClassName('mdl-textfield'));
                                componentHandler.upgradeElements(document.getElementsByClassName('mdl-textfield__input'));
                                componentHandler.upgradeElements(document.getElementsByClassName('mdl-textfield__label'));
                                componentHandler.upgradeElements(document.getElementsByClassName('mdl-textfield'));
                        } else {
                            app.toastMessage('This record type is not found, Please refresh data', 'long');
                        }
                    }, function (tx, error) {
                        StoreError(error)
                        alert(error.message)
                    });
            });
        } else {
            app.toastMessage('Record Type Not Found, Downloading master record type...', 'long');
        }
    }
    function SetInspectionItemDetailPageValues() {
        var htmlComponents = $("[name='InspectionItemDetailLayoutName']");
        for (var i = 0; i < htmlComponents.length; i++) {
            if (htmlComponents[i]['tagName'] === 'SELECT') {
                var values = InspectionItemDetailPage_InspectionItemData[htmlComponents[i]['id']];
                if (values) {
                    $.each(values.split(";"), function (x, e) {
                        $("#" + htmlComponents[i]['id'] + "[name='InspectionItemDetailLayoutName'] option[value='" + e + "']").prop("selected", true);
                    });
                }
            } else if (htmlComponents[i]['type'] === "checkbox") {
                $('#' + htmlComponents[i]['id'] + '[name="InspectionItemDetailLayoutName"]').prop('checked', InspectionItemDetailPage_InspectionItemData[htmlComponents[i]['id']]);
            } else if (htmlComponents[i]['type'] === "number") {
                $('#' + htmlComponents[i]['id'] + '[name="InspectionItemDetailLayoutName"]').val(InspectionItemDetailPage_InspectionItemData[htmlComponents[i]['id']]);
            } else if (htmlComponents[i]['type'] === "date") {
                if (InspectionItemDetailPage_InspectionItemData[htmlComponents[i]['id']]) {
                    if (device.platform === 'Android') {
                        var dateval = new Date(InspectionItemDetailPage_InspectionItemData[htmlComponents[i]['id']]);
                        var month;
                        var day;
                        if ((dateval.getMonth() + 1) < 10) {
                            month = '0' + (dateval.getMonth() + 1)
                        } else {
                            month = dateval.getMonth() + 1
                        }
                        if (dateval.getDate() < 10) {
                            day = '0' + dateval.getDate()
                        } else {
                            day = dateval.getDate()
                        }
                        $('#' + htmlComponents[i]['id'] + '[name="InspectionItemDetailLayoutName"]').val(dateval.getFullYear() + '-' + (month) + '-' + day)
                    }
                    if (device.platform === 'iOS') {
                        var dateval = new Date(InspectionItemDetailPage_InspectionItemData[htmlComponents[i]['id']]);
                        var month;
                        var day;
                        if ((dateval.getMonth() + 1) < 10) {
                            month = '0' + (dateval.getMonth() + 1)
                        } else {
                            month = dateval.getMonth() + 1
                        }
                        if (dateval.getDate() < 10) {
                            day = '0' + dateval.getDate()
                        } else {
                            day = dateval.getDate()
                        }
                        $('#' + htmlComponents[i]['id'] + "[name='InspectionItemDetailLayoutName']").val(dateval.getFullYear() + '-' + (month) + '-' + day);
                    }
                }
            } else if (htmlComponents[i]['type'] === "datetime-local") {
                if (InspectionItemDetailPage_InspectionItemData[htmlComponents[i]['id']]) {
                    if (device.platform === 'Android') {
                        try {
                            if (typeof (InspectionItemDetailPage_InspectionItemData[htmlComponents[i]['id']]) === "object") {
                                $('#' + htmlComponents[i]['id'] + "[name='InspectionItemDetailLayoutName']").val((InspectionItemDetailPage_InspectionItemData[htmlComponents[i]['id']].toJSON()).split('Z')[0]);
                            } else if (typeof (InspectionItemDetailPage_InspectionItemData[htmlComponents[i]['id']]) === "string") {
                                $('#' + htmlComponents[i]['id'] + "[name='InspectionItemDetailLayoutName']").val(InspectionItemDetailPage_InspectionItemData[htmlComponents[i]['id']].split('+')[0]);
                            }
                        } catch (err) {

                            $('#' + htmlComponents[i]['id']).val('');
                        }
                    }
                    if (device.platform === 'iOS') {
                        try {
                            if (typeof (InspectionItemDetailPage_InspectionItemData[htmlComponents[i]['id']]) === "object") {
                                $('#' + htmlComponents[i]['id'] + "[name='InspectionItemDetailLayoutName']").val((InspectionItemDetailPage_InspectionItemData[htmlComponents[i]['id']].toJSON()).split('Z')[0]);
                            } else if (typeof (InspectionItemDetailPage_InspectionItemData[htmlComponents[i]['id']]) === "string") {
                                $('#' + htmlComponents[i]['id'] + "[name='InspectionItemDetailLayoutName']").val(InspectionItemDetailPage_InspectionItemData[htmlComponents[i]['id']].split('+')[0]);
                            }
                        } catch (err) {
                            console.log('date error' + err)
                            $('#' + htmlComponents[i]['id']).val('');
                        }
                    }
                }
            }else if (htmlComponents[i]['tagName'] == 'A') {
                console.log('taggggggg22', InspectionItemDetailPage_InspectionItemData[htmlComponents[i]['id']],htmlComponents[i]['id'],InspectionItemDetailPage_InspectionItemData,$.parseHTML(InspectionItemDetailPage_InspectionItemData[htmlComponents[i]['id']]));
              
              
              if($.parseHTML(InspectionItemDetailPage_InspectionItemData[htmlComponents[i]['id']]) != null){
                if ($.parseHTML(InspectionItemDetailPage_InspectionItemData[htmlComponents[i]['id']])[0].nodeName == "A") {
                    //$.parseHTML(newDetailValue[0].STKR__FormulaURL__c)[0].href
                    $('#' + htmlComponents[i]['id'] + "[name='InspectionItemDetailLayoutName']")[0].onclick = function (abc) {
                        console.log('hukins', abc.currentTarget.id);

                        window.open($.parseHTML(InspectionItemDetailPage_InspectionItemData[abc.currentTarget.id])[0].href, '_blank');
                        preventDefault();
                    }
                } else {
                    $('#' + htmlComponents[i]['id'] + "[name='InspectionItemDetailLayoutName']")[0].onclick = function (abc) {
                        window.open(InspectionItemDetailPage_InspectionItemData[abc.currentTarget.id], '_blank');
                        preventDefault();
                    }
                }
              }
              
            } else {
                //console.log(htmlComponents[i]['id'] + ':' + InspectionItemDetailPage_InspectionItemData[htmlComponents[i]['id']]);
                $('#' + htmlComponents[i]['id'] + '[name="InspectionItemDetailLayoutName"]').val(InspectionItemDetailPage_InspectionItemData[htmlComponents[i]['id']]);
            }
        }
    }
    function UpdateDynamicInspectionItem() {
        var datatoupload = {};
        var htmlComponents = $("[name='InspectionItemDetailLayoutName'][name1!='RemoveThis']");
        if (new Date($("#StartDateTime[name='InspectionItemDetailLayoutName']").val()) > new Date($("#EndDateTime[name='InspectionItemDetailLayoutName']").val())) {
            app.toastMessage('Start Date Time can\'t be greater than End Date Time', 'long');
            e.prInspectionItemDefault();
            return;
        }
        //console.log('HTML COMPONENTS', htmlComponents);
        for (var i = 0; i < htmlComponents.length; i++) {
            var values = '';
            if (htmlComponents[i]['tagName'] === 'SELECT') {
                //console.log($('#' + htmlComponents[i]['id']));
                var selectedOptions = $("#" + htmlComponents[i]['id'] + "[name='InspectionItemDetailLayoutName']")[0]['selectedOptions'];
                for (var j = 0; j < selectedOptions.length; j++) {
                    //console.log(selectedOptions[j].value);
                    values += selectedOptions[j].value + ';';
                }
                values = values.substring(0, values.length - 1);
            } else if (htmlComponents[i]['type'] === "checkbox") {
                values = $('#' + htmlComponents[i]['id'] + '[name="InspectionItemDetailLayoutName"]').prop('checked');
            } else if (htmlComponents[i]['type'] === "date") {
                values = new Date($('#' + htmlComponents[i]['id'] + '[name="InspectionItemDetailLayoutName"]').val());
                if (values === '')
                    values = null;
            } else if (htmlComponents[i]['type'] === "datetime-local") {
                values = new Date($('#' + htmlComponents[i]['id'] + '[name="InspectionItemDetailLayoutName"]').val());
                if (values === '')
                    values = null;
            } else {
                values = $("#" + htmlComponents[i]['id'] + '[name="InspectionItemDetailLayoutName"]').val();
            }
            datatoupload[htmlComponents[i]['id']] = values;
            if (htmlComponents[i]['required'] && !values) {
                app.toastMessage('Please fill all required fields', 'long');
                return;
            }
        }
        datatoupload['Id'] = InspectionItemDetailPage_InspectionItemData['Id'];
        //console.log('Data to upload', datatoupload);
        for (var property in datatoupload) {
            InspectionItemData[InspectionItemDetailPage_DataIndex][property] = datatoupload[property];
        }
        //console.log(InspectionItemData[InspectionItemDetailPage_DataIndex]);
        app.insertRecord('InspectionItem', {
            JsonData: JSON.stringify(InspectionItemData[InspectionItemDetailPage_DataIndex]),
            Updated: 'false',
            UserId: creds.UserID,
            InspectionItemID: InspectionItemData[InspectionItemDetailPage_DataIndex]['Id']
        });
        // Check whether device is online or not
        if (AppIsOnline && !isCurrentVisitInProgress) {
            //Device is online
            jsconn.sobject("STKR__Service_Item__c").update(datatoupload, function (err, ret) {
                if (err || !ret.success) {
                    StoreError(err);
                    return console.error(err, ret);
                }
                app.toastMessage('Inspection Item updated', 'long');
                app.deleteRecord('DataToUpdate', ret.id);
                window.history.back();
            });
        } else {
            // Device is offline
            // Store in DataToUpdate table
            // Check if new offline record is being updated 
            try {
                app.selectFromTable('DataToUpdate', 'recordid', InspectionItemData[InspectionItemDetailPage_DataIndex]['Id'], function (a, rs) {
                    if (rs.rows.length > 0) {
                        var updateOrInsert = rs.rows.item(0)['updated'];
                        var data = {
                            JsonData: JSON.stringify(InspectionItemData[InspectionItemDetailPage_DataIndex]),
                            ObjectName: 'STKR__Service_Item__c',
                            Updated: 'newRecord',
                            UserId: creds.UserID,
                            RecordId: InspectionItemData[InspectionItemDetailPage_DataIndex]['Id']
                        }
                        if (updateOrInsert === 'false') {
                            // Record is being updated and is already being on salesforce ...
                            data['UpdateOrInsert'] = 'update';
                            data['Updated'] = 'false';
                        } else if (updateOrInsert === 'newRecord') {
                            // Record is created on mobile device and needs to be created instead of updated... 
                            data['UpdateOrInsert'] = 'insert';
                            data['Updated'] = 'newRecord';
                        }
                        app.insertRecord('DataToUpdate', data);
                        app.toastMessage('Inspection Item changes stored offline', 'long');
                        window.history.back();
                    } else {
                        var data = {
                            JsonData: JSON.stringify(InspectionItemData[InspectionItemDetailPage_DataIndex]),
                            ObjectName: 'STKR__Service_Item__c',
                            Updated: 'false',
                            UpdateOrInsert: 'update',
                            UserId: creds.UserID,
                            RecordId: InspectionItemData[InspectionItemDetailPage_DataIndex]['Id']
                        }
                        app.insertRecord('DataToUpdate', data);
                        app.toastMessage('Inspection Item changes stored offline', 'long');
                        window.history.back();
                    }
                });
            } catch (err) {
                var data = {
                    JsonData: JSON.stringify(InspectionItemData[InspectionItemDetailPage_DataIndex]),
                    ObjectName: 'STKR__Service_Item__c',
                    Updated: 'false',
                    UpdateOrInsert: 'update',
                    UserId: creds.UserID,
                    RecordId: InspectionItemData[InspectionItemDetailPage_DataIndex]['Id']
                }
                app.insertRecord('DataToUpdate', data);
                app.toastMessage('Inspection Item changes stored offline', 'long');
                window.history.back();
            }
        }
    }

    //Map for controller and dependent field
    var a = {};

    function InspectionItemDetailLayoutGenerator(Layoutdata) {
        a = {};
        var InspectionItem_Metadata = InspectionItemMetadata;
        try {

            if (InspectionItemMetadata[0]) {
                InspectionItem_Metadata = InspectionItemMetadata[0];
            } else {
                InspectionItem_Metadata = InspectionItemMetadata;
            }
        } catch (err) {
            InspectionItem_Metadata = InspectionItemMetadata;
        }

        for (var i = 0; i < InspectionItem_Metadata['fields'].length; i++) {
            if (InspectionItem_Metadata['fields'][i]['controllerName']) {
                // if not already in the  array
                try {
                    if (!a[InspectionItem_Metadata['fields'][i]['controllerName']]) {
                        a[InspectionItem_Metadata['fields'][i]['controllerName']] = [];
                    }
                    a[InspectionItem_Metadata['fields'][i]['controllerName']].push(InspectionItem_Metadata['fields'][i]['name']);
                    //console.log('a', a);
                } catch (err) {
                    console.log(err)
                }
            }
        }

        var InspectionItemHTML = '';
        for (var x = 0; x < Layoutdata['editLayoutSections'].length; x++) {
            var layoutRows = Layoutdata['editLayoutSections'][x]['layoutRows'];
            var layoutHeader = Layoutdata['editLayoutSections'][x]['heading'];
            InspectionItemHTML += '<center><h5>' + layoutHeader + '</h5></center>';
            InspectionItemHTML += '<div class="mdl-shadow--2dp" style="margin:2%;padding:2%;background-color:#fff; border-radius: 10px;">';
            for (var j = 0; j < layoutRows.length; j++) {
                var layoutItems = layoutRows[j]['layoutItems'];
                for (var y = 0; y < layoutItems.length; y++) {
                    if (layoutItems[y]['editableForUpdate']) {
                        for (var z = 0; z < layoutItems[y]['layoutComponents'].length; z++) {
                            var layoutComponents = layoutItems[y]['layoutComponents'][z];
                            try {
                                var label = layoutComponents['details']['label'];
                                var htmlid = layoutComponents['details']['name'];
                                var dataType = layoutComponents['details']['type'];
                                var nillable = layoutComponents['details']['nillable'];
                                var maxlength = layoutComponents['details']['length'];
                                var htmlrequired = nillable ? '' : 'required';
                                var newhtmlrequired = layoutItems[y]['required'] ? 'required' : '';
                                if (dataType === 'string') {
                                    if (htmlid === 'STKR__Bar_Code_Number__c') {
                                        InspectionItemHTML += '<div class="InspectionItemDetailPageMDL mdl-textfield mdl-js-textfield mdl-textfield--floating-label">';
                                        InspectionItemHTML += '<label style="rgb(0,188,212);font-size: 16px;" for="' + htmlid + '">' + label + '</label>';
                                        InspectionItemHTML += '<input type="text" name="InspectionItemDetailLayoutName" class="InspectionItemDetailPageMDL mdl-textfield__input" id="' + htmlid + '" maxlength="' + maxlength + '" ' + newhtmlrequired + '>';
                                        InspectionItemHTML += '<button style="right:0;border-style:none;" onclick="barcodeScan_updateItem();" class="InspectionListMDLClass mdl-button mdl-js-button mdl-button--icon"><i class="fa fa-barcode fa-xs"></i></button>';
                                        InspectionItemHTML += '</div><br>';
                                    } else {
                                        InspectionItemHTML += '<div class="InspectionItemDetailPageMDL mdl-textfield mdl-js-textfield mdl-textfield--floating-label">';
                                        InspectionItemHTML += '<input type="text" name="InspectionItemDetailLayoutName" class="InspectionItemDetailPageMDL mdl-textfield__input" id="' + htmlid + '" maxlength="' + maxlength + '" ' + newhtmlrequired + '>';
                                        InspectionItemHTML += '<label class="InspectionItemDetailPageMDL mdl-textfield__label" for="' + htmlid + '"">' + label + '</label>';
                                        InspectionItemHTML += '</div><br>';
                                    }
                                } else if (dataType === 'reference') {
                                    if (navigator.onLine) {
                                        if (htmlid === 'STKR__Assigned_To__c') {
                                            InspectionItemHTML += '<div class="InspectionItemDetailPageMDL mdl-textfield mdl-js-textfield mdl-textfield--floating-label">';
                                            if (newhtmlrequired === 'required')
                                                InspectionItemHTML += '<label style="color:rgb(215,0,0);font-size: 16px;" for="' + htmlid + '">' + label + '</label>';
                                            else
                                                InspectionItemHTML += '<label style="color:rgb(0,188,212);font-size: 16px;" for="' + htmlid + '">' + label + '</label>';
                                            InspectionItemHTML += '<select name="InspectionItemDetailLayoutName" id="' + htmlid + '" class="InspectionItemDetailPageMDL mdl-textfield__input"' + newhtmlrequired + '>';
                                            InspectionItemHTML += '<option value="None">None</option>';
                                            for (var optionvalues = 0; optionvalues < Userdata.length; optionvalues++) {
                                                InspectionItemHTML += '<option value="' + Userdata[optionvalues]['Id'] + '">' + Userdata[optionvalues]['Name'] + '</option>';
                                            }
                                            InspectionItemHTML += '</select>';
                                            InspectionItemHTML += '</div></br>';
                                        }
                                    }
                                } else if (dataType === 'double') {
                                    InspectionItemHTML += '<div class="InspectionItemDetailPageMDL mdl-textfield mdl-js-textfield mdl-textfield--floating-label">';
                                    InspectionItemHTML += '<input type="number" name="InspectionItemDetailLayoutName" class="InspectionItemDetailPageMDL mdl-textfield__input" pattern="-?[0-9]*(\.[0-9]+)?" id="' + htmlid + '"' + newhtmlrequired + '>';
                                    InspectionItemHTML += '<label class="InspectionItemDetailPageMDL mdl-textfield__label" for="' + htmlid + '"">' + label + '</label>';
                                    InspectionItemHTML += '</div><br>';
                                } else if (dataType === 'picklist') {
                                    InspectionItemHTML += '<div class="InspectionItemDetailPageMDL mdl-textfield mdl-js-textfield mdl-textfield--floating-label">';
                                    if (newhtmlrequired === 'required')
                                        InspectionItemHTML += '<label style="color:rgb(215,0,0);font-size: 16px;" for="' + htmlid + '">' + label + '</label>';
                                    else
                                        InspectionItemHTML += '<label style="color:rgb(0,188,212);font-size: 16px;" for="' + htmlid + '">' + label + '</label>';
                                    if (a[htmlid])
                                        InspectionItemHTML += '<select onChange="ChangeDependentValues(\'' + htmlid + '\',\'STKR__Service_Item__c\',\'InspectionItemDetailLayoutName\')" name="InspectionItemDetailLayoutName" id="' + htmlid + '" class="InspectionItemDetailPageMDL mdl-textfield__input"' + newhtmlrequired + '>';
                                    else
                                        InspectionItemHTML += '<select name="InspectionItemDetailLayoutName" id="' + htmlid + '" class="InspectionItemDetailPageMDL mdl-textfield__input"' + newhtmlrequired + '>';

                                    // New Code 
                                    InspectionItemHTML += '<option value="" selected>--None--</option>';

                                    for (var optionvalues = 0; optionvalues < layoutComponents['details']['picklistValues'].length; optionvalues++) {
                                        if (layoutComponents['details']['picklistValues'][optionvalues]['defaultValue']) {
                                            InspectionItemHTML += '<option value="' + layoutComponents['details']['picklistValues'][optionvalues]['value'] + '">' + layoutComponents['details']['picklistValues'][optionvalues]['value'] + '</option>';
                                        } else {
                                            InspectionItemHTML += '<option value="' + layoutComponents['details']['picklistValues'][optionvalues]['value'] + '">' + layoutComponents['details']['picklistValues'][optionvalues]['value'] + '</option>';
                                        }
                                    }
                                    // END
                                    InspectionItemHTML += '</select>';
                                    InspectionItemHTML += '</div><br>';
                                } else if (dataType === 'date') {
                                    InspectionItemHTML += '<div class="InspectionItemDetailPageMDL mdl-textfield mdl-js-textfield">';
                                    InspectionItemHTML += '<label style="color: rgb(0,188,212);font-size: 16px;" for="' + htmlid + '">' + label + '</label>';
                                    InspectionItemHTML += '<input class="InspectionItemDetailPageMDL mdl-textfield__input" type="date" name="InspectionItemDetailLayoutName" id="' + htmlid + '"' + newhtmlrequired + '/>';
                                    InspectionItemHTML += '</div><br>';
                                } else if (dataType === 'textarea') {
                                    InspectionItemHTML += '<div class="InspectionItemDetailPageMDL mdl-textfield mdl-js-textfield mdl-textfield--floating-label">';
                                    InspectionItemHTML += '<textarea name="InspectionItemDetailLayoutName" id="' + htmlid + '"  class="mdl-textfield__input"  type="text" rows="5" maxlength="' + maxlength + '" ' + newhtmlrequired + '></textarea>';
                                    InspectionItemHTML += '<label class="InspectionItemDetailPageMDL mdl-textfield__label" for="' + htmlid + '">' + label + '</label>';
                                    InspectionItemHTML += '</div><br>';
                                } else if (dataType === 'datetime') {
                                    InspectionItemHTML += '<div class="InspectionItemDetailPageMDL mdl-textfield mdl-js-textfield">';
                                    InspectionItemHTML += '<label style="color: rgb(0,188,212);font-size: 16px;" for="' + htmlid + '">' + label + '</label>';
                                    InspectionItemHTML += '<input class="mdl-textfield__input" type="datetime-local" name="InspectionItemDetailLayoutName" id="' + htmlid + '"' + newhtmlrequired + '/>';
                                    InspectionItemHTML += '</div> <br>';
                                } else if (dataType === 'boolean') {
                                    if (device.platform === 'Android') {
                                        InspectionItemHTML += '<label class="InspectionItemDetailPageMDL mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="' + htmlid + '">'
                                        InspectionItemHTML += '<input name="InspectionItemDetailLayoutName" type="checkbox" id="' + htmlid + '" class="InspectionItemDetailPageMDL mdl-checkbox__input"' + newhtmlrequired + ' style="height:20px;width:20px;">'
                                        InspectionItemHTML += '<span class="InspectionItemDetailPageMDL mdl-checkbox__label">' + label + '</span>';
                                        InspectionItemHTML += '</label><br>';
                                    } else if (device.platform === 'iOS') {
                                        InspectionItemHTML += '<input name="InspectionItemDetailLayoutName" type="checkbox" id="' + htmlid + '"' + newhtmlrequired + ' >';
                                        InspectionItemHTML += '<label for="' + htmlid + '">';
                                        InspectionItemHTML += '<span>' + label + '</span>';
                                        InspectionItemHTML += '</label><br>';
                                    }
                                } else if (dataType === 'email') {
                                    InspectionItemHTML += '<div class="InspectionItemDetailPageMDL mdl-textfield mdl-js-textfield mdl-textfield--floating-label">';
                                    InspectionItemHTML += '<input type="email" name="InspectionItemDetailLayoutName" class="InspectionItemDetailPageMDL mdl-textfield__input" id="' + htmlid + '"' + newhtmlrequired + '>';
                                    InspectionItemHTML += '<label class="InspectionItemDetailPageMDL mdl-textfield__label" for="' + htmlid + '"">' + label + '</label>';
                                    InspectionItemHTML += '</div><br>';
                                } else if (dataType === 'multipicklist') {
                                    InspectionItemHTML += '<div class="InspectionItemDetailPageMDL mdl-textfield mdl-js-textfield mdl-textfield--floating-label">';
                                    if (newhtmlrequired === 'required')
                                        InspectionItemHTML += '<label style="color:rgb(215,0,0);font-size: 16px;" for="' + htmlid + '">' + label + '</label>';
                                    else
                                        InspectionItemHTML += '<label style="color:rgb(0,188,212);font-size: 16px;" for="' + htmlid + '">' + label + '</label>';
                                    InspectionItemHTML += '<select class="InspectionItemDetailPageMDL mdl-textfield__input" name="InspectionItemDetailLayoutName" id="' + htmlid + '" multiple' + newhtmlrequired + '>';
                                    for (var optionvalues = 0; optionvalues < layoutComponents['details']['picklistValues'].length; optionvalues++) {
                                        InspectionItemHTML += '<option value="' + layoutComponents['details']['picklistValues'][optionvalues]['value'] + '">' + layoutComponents['details']['picklistValues'][optionvalues]['value'] + '</option>';
                                    }
                                    InspectionItemHTML += '</select>';
                                    InspectionItemHTML += '</div><br>';
                                } else if (dataType === 'currency') {
                                    InspectionItemHTML += '<div class="InspectionItemDetailPageMDL mdl-textfield mdl-js-textfield mdl-textfield--floating-label">';
                                        InspectionItemHTML += '<input type="number" name="InspectionItemDetailLayoutName" class="InspectionItemDetailPageMDL mdl-textfield__input" id="' + htmlid + '" maxlength="' + maxlength + '" ' + newhtmlrequired + '>';
                                        InspectionItemHTML += '<label class="InspectionItemDetailPageMDL mdl-textfield__label" for="' + htmlid + '"">' + label + '</label>';
                                        InspectionItemHTML += '</div><br>';
                                } else if(dataType === 'url'){
                                    InspectionItemHTML += '<div class="InspectionItemDetailPageMDL mdl-textfield mdl-js-textfield mdl-textfield--floating-label">';
                                        InspectionItemHTML += '<a style="color:#505050;"   name="InspectionItemDetailLayoutName" class="InspectionItemDetailPageMDL ST_Clickable_Link mdl-textfield__input" id="' + htmlid + '">' + label + '</a>';
                          
                                        InspectionItemHTML += '</div><br>';
                        } else {
                                    //console.log('In else', dataType);
                                }
                            } catch (e) {
                            }
                        }
                    }
                }
            }
            InspectionItemHTML += '</div>';
        }
        return InspectionItemHTML;
    }

    function ChangeDependentValues(htmlid, objname, nameattr) {
        for (var i = 0; i < a[htmlid].length; i++) {
            var res = getDependentOptions(objname, htmlid, a[htmlid][i]);
            var value = $('#' + htmlid + '[name="' + nameattr + '"]').val();
            var html = '';
            // Remove values from picklist depending on the record types.. 
            for (var j = 0; j < InspectionItemDetailPage_PageLayout['editLayoutSections'].length; j++) {
                for (var k = 0; k < InspectionItemDetailPage_PageLayout['editLayoutSections'][j]['layoutRows'].length; k++) {
                    for (var l = 0; l < InspectionItemDetailPage_PageLayout['editLayoutSections'][j]['layoutRows'][k]['layoutItems'].length; l++) {
                        for (var m = 0; m < InspectionItemDetailPage_PageLayout['editLayoutSections'][j]['layoutRows'][k]['layoutItems'][l]['layoutComponents'].length; m++) {
                            if (InspectionItemDetailPage_PageLayout['editLayoutSections'][j]['layoutRows'][k]['layoutItems'][l]['layoutComponents'][m]['value'] && InspectionItemDetailPage_PageLayout['editLayoutSections'][j]['layoutRows'][k]['layoutItems'][l]['layoutComponents'][m]['details']['name'] === a[htmlid][i]) {
                                var picklistValues = InspectionItemDetailPage_PageLayout['editLayoutSections'][j]['layoutRows'][k]['layoutItems'][l]['layoutComponents'][m]['details']['picklistValues'];
                                var arraryofval = [];
                                for (var o = 0; o < picklistValues.length; o++) {
                                    arraryofval.push(picklistValues[o]['value']);
                                }
                                //console.log('arraryofval', arraryofval);
                                var n = res[value].length
                                while (n--) {
                                    if (arraryofval.indexOf(res[value][n]) === -1) {
                                        res[value].splice(n, 1);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            //console.log('final', res[value]);
            for (var prop = 0; prop < res[value].length; prop++) {
                html += "<option value = '" + res[value][prop] + "'>" + res[value][prop] + "</option>"
            }
            if (!html) {
                html += "<option value = 'None'>None</option>";
            }
            //console.log(html, $('[name="' + nameattr + '"]#' + a[htmlid][i]));
            $('[name="' + nameattr + '"]#' + a[htmlid][i]).html(html);
        }
    }

    function barcodeScan_updateItem() {
        cordova.plugins.barcodeScanner.scan(
            function (result) {
                console.log('Result: ' + result.text);
                $('#STKR__Bar_Code_Number__c[name="InspectionItemDetailLayoutName"]').val(result.text);
            },
            function (error) {
                app.toastMessage('Scanning failed: ' + error, 'long');
            },
        );
    }

    function NavigateToAnalysis_InspectionItem() {
        console.log('InspectionItemDetailPage_Id');
        app.navigate("view/AllAnalysisOnInspectionItem.html?InspectionItemId=" + InspectionItemDetailPage_Id);
    }

    function NavigateToParameter_InspectionItem(){
        app.navigate("view/InspectionItemParameter.html?inspectionitemid=" + InspectionItemDetailPage_Id);
    }
</script>