<div data-role="view" data-title="Select record type for event" data-show="DSSelectEventRecordType" data-after-show="DAFSelectEventRecordType"
    id="SelectEventRecordTypePage" data-use-native-scrolling="true">

    <header data-role="header">
        <div data-role="navbar" class="km-accent">
            <a data-align="left" data-role="backbutton">
                <i class="material-icons">keyboard_backspace</i>
            </a>
            <span data-role="view-title"></span>
            <span onclick="app.navigate('view/OfflineData.html');" class="OfflineDataItemCount badge badge-notify" style="border-radius:0 !important;top:0 !important;left:0 !important;float:right;"></span>
            <button onclick="app.navigate('view/HomePage.html');"  style="border-style:none;float:right;margin-top:2%;" class="headerIconStyleForAll mdl-button mdl-js-button mdl-button--icon" >
                <i class="material-icons" style="color:white;">home</i>
                </button>
        </div>
    </header>

    <div class="mdl-shadow--2dp" style="margin:5%;padding:3%;background:#FFF">
        <center>
            <h4>Select Record Type : </h4>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <select id="SelectOptionRecordTypeEvent" class="mdl-textfield__input"></select>
            </div>
            <br/>
            <br/>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" onClick="RedirectToEventLayout()"
                style="font-weight:bold;">
                SELECT
            </button>
        </center>
    </div>
</div>
<script>
    function DSSelectEventRecordType() {

        CountNumberOfOflineItem();
        var OptionHTML = '';
        try {
            app.db.transaction(function (tx) {
                tx.executeSql("Select * from EventLayout", [],
                    function (tx, rs) {
                        if (rs.rows.length > 0) {
                            if (rs.rows.length > 1) {
                                for (var i = 0; i < rs.rows.length; i++) {
                                    if ((rs.rows.item(i)['recordtypename']).toLowerCase() != 'master') {
                                        OptionHTML += '<option value="' + rs.rows.item(i)['recordid'] + '" id="' + rs.rows.item(i)['recordtypename'] + '">' + rs.rows.item(i)['recordtypename'] + '</option>';
                                        $("#SelectOptionRecordTypeEvent").html(OptionHTML);
                                    }
                                }
                            } else {
                                for (var i = 0; i < rs.rows.length; i++) {
                                    OptionHTML += '<option value="' + rs.rows.item(i)['recordid'] + '" id="' + rs.rows.item(i)['recordtypename'] + '">' + rs.rows.item(i)['recordtypename'] + '</option>';
                                    $("#SelectOptionRecordTypeEvent").html(OptionHTML);
                                }
                            }
                        } else {
                            app.toastMessage('This record type is not found, Please refresh data', 'long');
                        }
                    }, function (tx, error) {
                        StoreError(error);
                        alert(error.message);
                    });
            });
        } catch (err) {
            console.log('error', err);
        }
    }
    function DAFSelectEventRecordType() {
        if (device.platform == "Android") 
        componentHandler.upgradeElements(document.getElementsByClassName('mdl-button'));
    }
    function RedirectToEventLayout() {
        var SelectedOption = $('#SelectOptionRecordTypeEvent').val();
        app.navigate('view/CreateEvent.html?EventRecordId=' + SelectedOption);
    }
</script>

<style>
    #SelectActionRecordTypePage .km-content {
        background: #E6E6E6;
    }
</style>